body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background-color:#f0ebf8;
}
.media-slide video, .media-slide img {
  max-height: 90%;
  height: 90%;
  width: auto;
  object-fit: contain;
}

.media-slide {
  height: 350px;
  position: relative;
  width: auto;
  max-width: 90vw;
  max-height: 350px;
  display: none;
  align-items: center;
  justify-content: center;
}

.media-slide.active {
    display: flex;
    flex-direction: column;
}

[id^='waveform-']{
  width: 100%;
}

.audio-wrapper{
	background-color: #fbf9fd;
  padding: 1rem 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
}

html {
  scroll-behavior: smooth;
}

/* For loader  */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  border: 4px solid #ccc;
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  z-index: 2;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.media-slide img,
.media-slide video,
.media-slide audio {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.media-slide.loaded img,
.media-slide.loaded video,
.media-slide.loaded audio {
  opacity: 1;
}

/* For loader  */

:host audio{
	margin-top: 1rem;
}

.media-caption{
	font-weight: 600;
  font-style: italic;
  font-size: 22px;
	text-transform: capitalize;
	margin-top: 12px;
}

.audio-title {
  text-transform: capitalize;
  font-size: larger;
  font-weight: 700;
  padding: 1rem 0;

}

.page-container {
  display: flex;
  justify-content: center; 
  align-items: center;      
  height: 100vh;
}
